<div class="center">
<a href="/#/">
	<img class="logo" src="/images/logo.png"/>
</a>
</div>
<div class="container">
	<div class="row menu">
		<div class="col-sm-4">
				<button ng-click="change('1')" class="btn btn-default">Liberty</button><button ng-click="change('2')" class="btn btn-default">Classic</button>
        <img class="item" style="position: relative; z-index: 100;" ng-click="reset()" ng-src="{{backgorund.url || '/images/woman/default.jpg'}}">
        <button ng-show="texture.price" class="detailBuy btn btn-default">Buy {{ texture.price ? 'for '+texture.price+'€' : ''}}</button>
    </div>
    <div class="col-sm-4">
      <div deckgrid class="deckgrid" source="photos">
		    <div class="photo" data-ng-click="mother.set(card)">
		        <div class="photo-index" data-ng-if="card.showIndex">
              <p class="balloon-wrapper">
                <span class="balloon">{{card.$index}}</span>
              </p>
          		</div>

		          <div class="photo-wrapper">
		            <img data-ng-src="{{card.src}}" class="animation-fade" data-imageloaded data-loadedclass="animation-faded">
		          </div>
		          <div class="photo-description">
		            <h3>{{card.title}}</h3>
		            <p>{{card.author}}</p>
		          </div>
		        </div>
		    </div>
		  </div>
    </div>
  </div>
</div>
